html {
  font-size: 11px;
  height: 100%;

  @include media($small-screen-up) {
    font-size: 14px;
  }

  @include media($medium-screen-up) {
    font-size: 18px;
  }

  @include media($large-screen-up) {
    font-size: 22px;
  }
}
