.index {
  @include outer-container($medium-screen);
  @include padding($base-spacing $base-spacing null);
  background: linear-gradient(180deg, white 25%, tint($husker-du, 60%));
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: $base-font-color;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;

  @include media($large-screen-up) {
    @include outer-container($large-screen);
    @include clearfix;
    display: block;
    margin-top: $large-spacing;
    text-align: left;
  }
}

.explainer {
  align-items: center;
  display: flex;
  flex: 1 0 $small-screen;
  flex-direction: column;
  justify-content: center;

  @include media($large-screen-up) {
    @include span-columns(8 of 12);
    margin-top: $large-spacing * 1.125;
  }
}

.mobile-device-container {
  flex: 1 0 300px;
  margin: 0 auto;
  max-width: 320px;
  overflow: hidden;
  width: 100%;

  @include media($large-screen-up) {
    @include span-columns(4 of 12);
    @include omega;
    flex-grow: 0;
    height: auto;
  }
}

.mobile-device {
  background: linear-gradient(180deg, $pink 5%, $purple);
  border-radius: $large-border-radius;
  display: flex;
  flex-shrink: 0;
  height: 600px;
  justify-content: center;
}

.download-button {
  @include size(90px);
  animation-duration: 2s;
  animation-iteration-count: 1;
  background-color: white;
  border-radius: 16px;
  box-shadow: $base-box-shadow;
  margin-top: 25%;
  padding: 12px;
  transition: all 0.25s ease-in-out;

  @include media($large-screen-up) {
    align-self: center;
    margin-top: 0;
  }

  &:hover {
    @include size(90px * 1.25);
    box-shadow: $base-box-shadow-hover;
  }

  &:active {
    zoom: 0.95;
  }
}

.teaser {
  @include padding($small-spacing null 0);
  color: shade($purple, 20%);
  width: 100%;

  @include media($large-screen-up) {
    @include padding(null $base-spacing $xsmall-spacing null);
  }
}

.g-logotype {
  @include size(7em 10px);

  @include media($large-screen-up) {
    @include size(8em 30px);
    padding-left: $xsmall-spacing;
  }
}

.built-by {
  @include padding($base-spacing null);
  color: $toasted-mallow;
  font-family: $monospace;
  font-weight: 200;

  @include media($large-screen-up) {
    @include padding(0 null);
  }

  a {
    border-bottom: 1px solid rgba($toasted-mallow, 0.5);
    color: inherit;
    padding-bottom: 1px;

    &:hover {
      border-bottom-color: $action-color;
      color: $action-color;
    }
  }
}
