---
title: Index
---

%button.btn.posts
  = link_to 'gradient posts', '/gradient-posts.html'

.project-explanation.container
  %h1 Gradientz
  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maxime id fugit sint consectetur pariatur enim neque modi, praesentium omnis possimus alias recusandae tempora! Animi officiis porro cumque, quasi eius!

